{% extends "home/base.html" %}
{% block content %}
<style>
  .center-div {
    width: 50%;
    margin: 0 auto;
  }

  .page {
    background-color: #f3f2f7;
  }

  .title {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  .title-text {
    font-weight: bold;
    text-align: center;
    margin: 10px;
  }

  .chart-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    transition: 0.3s;
  }
</style>
<div class="title">
  <h2 class="title-text">Fermentation Lab</h2>
</div>
<div class="container-fluid page">
  <div class="row align-items-center">
    <!--Left Column -->
    <div class="col-6">
      <!-- Charts Div -->
      <div class="card chart-card">
        <div class="center-div">
          <form id="lookbackForm">
            <label for="year">Lookback period:</label>
            <select name="lookback" id="lookback"></select>
            <input type="submit" value="Load" name="_load">
          </form>
        </div>
        <canvas class="data-chart" id="temperatureChart"></canvas>
        <canvas class="data-chart" id="co2LevelChart"></canvas>
      </div>

    </div>
    <!--Right column -->
    <div class="col-6"></div>
  </div>
</div>

<script>
  let temperatureCtx = document.getElementById("temperatureChart").getContext("2d");
  let temperatureChart = new Chart(temperatureCtx, {
    type: "line",
    options: {
      responsive: true,
      maintainAspectRatio: true,
      scales: {
        xAxes: [{
          ticks: {
            autoskip: true,
            autoSkipPadding: 50,
          },
        }]
      }
    }
  });

  let co2levelCtx = document.getElementById("co2LevelChart").getContext("2d");
  let co2levelChart = new Chart(co2levelCtx, {
    type: "line",
    options: {
      responsive: true,
      maintainAspectRatio: true,
      scales: {
        xAxes: [{
          ticks: {
            autoskip: true,
            autoSkipPadding: 50
          },
        }]
      }
    }
  });

  $(document).ready(function () {
    $.ajax({
      url: "/fermentationlab/charts/lookback-options",
      type: "GET",
      dataType: "json",
      success: (jsonResponse) => {
        // Load all the options
        jsonResponse.options.forEach(option => {
          $("#lookback").append(new Option(option, option));
        });
        // Load default data upon entering page
        loadAllCharts(1);
      },
      error: () => console.log("Failed to fetch chart filter options!")
    });
  });

  $("#lookbackForm").on("submit", (event) => {
    event.preventDefault();

    const option = $("#lookback").val();
    // ADD (loadChart(chart, endpoint) CHARTS HERE
    loadAllCharts(option);
  });

  function loadChart(chart, endpoint) {
    $.ajax({
      url: endpoint,
      type: "GET",
      dataType: "json",
      success: (jsonResponse) => {
        // Extract data from the response
        const title = jsonResponse.title;
        const labels = jsonResponse.data.labels;
        const datasets = jsonResponse.data.datasets;

        // Reset the current chart
        chart.data.datasets = [];
        chart.data.labels = [];

        // Load new data into the chart
        chart.options.title.text = title;
        chart.options.title.display = true;
        chart.data.labels = labels;
        datasets.forEach(dataset => {
          chart.data.datasets.push(dataset);
        });
        chart.update();
      },
      error: () => console.log("Failed to fetch chart data from " + endpoint + "!")
    });
  }

  function loadAllCharts(option) {
    loadChart(temperatureChart, `/fermentationlab/charts/temperatures/${option}`);
    loadChart(co2levelChart, `/fermentationlab/charts/co2levels/${option}`);
  }
</script>
{% endblock %}