{% extends 'core/base.html' %}
{% block content %}
<div class="container-fluid" style="margin:50px">
    <div class="row">
        {% for image in images %}
        {% load static %}
        <!-- image.0 is image link, image.1 is image date, image.2 is image time-->
        <div class="card" style="width: 14rem; margin-right:30px">
            <img src={{image.0}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{image.1}}</h5>
                <p class="card-text">at {{image.2}}</p>
                <a href="{{image.0}}" class="btn btn-primary">Download</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock%}